.searchbar{
    display: flex;
    padding-bottom: 168px;
    justify-content: center;
}

.search {
    font-size: 16px;
    height: 60px;
    min-width: 450px;
    padding-left: 10px;
}

.email-button {
    height: 60px;
    margin: 0;
    padding-top: 13px;
}
/* 
.bottom-email{
    padding-bottom: 168px;
} */

.common-button {
    background-color:#f40612 ;
    color: #fff;
    padding-left: 15px;
    padding-right: 40px;
    cursor: pointer;
}

/* 
@media screen and (min-width: 480px) {
    .common-button {
        align-items: center;
    }
} */