.about-furniz{
    background-color:#7f7f7f;
    color: #fff ;

}

.about-us{
    margin: 0;
    padding: 50px 0 0 50px ;
    height: 100%;
    width: 100%;
}

.about-button{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

img{
    height: 100%;
    width: 100%;
}

