.contact{
    background-color: rgb(32, 32, 32);
    color: #fff;
    
}

h1{
    margin: 0;
    font-size: 3rem;
}

.contact-data{
    padding: 50px ;
}

img{
    height: 100%;
}

.contact-button{
    width: 50px;
    padding: 12px;
}
