.content{
    background-image:url('Images/4.-Archi-Interior-Design-WordPress-Theme1\ \(1\).jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: roboto;
    padding: 200px 100px 200px 100px;
}

.explore{
    color:white;
}

.btn{
    border-radius: 25px;
}

span{
    color: #ffb13b;
}

.social-button{
    border-radius: 50%;
    display: grid;
    margin: 10px;
    justify-content: center;
}
button a{
    color: #000;
    text-decoration: none;
}
button a:hover{
    color: #000;
}

