.footer-data{
    background-color: black;
    justify-content: center;
    display: grid;
    color: white;
    width: 100%;
}

hr{
    color:#ffb13b;
    width: 20%;
}

p{
    color: #fff;
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color:#fff;
}

.follow-button{
    padding: 0;
    margin: 0;
}

.footer-last{
    margin-left: 0px;
    margin-right: 0px;
}


@media only screen and (min-width:480px)and(max-width:320px){
    .footer-data{
        font-size: 10px;
    }
}